body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1 {
  font-style: italic;
}

h1 > span {
  color: gray;
}

.flexible-container {
  display: flex;
  margin-bottom: 20px;
}

.half-width {
  width: 50%;
  padding: 5%;
  height: 50%;
}

.half-width img {
  width: 100%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(gray, black);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}

.top-banner {
  background-image: url(assets/batman-bg.png);
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url(assets/batman-bg.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.story {
  background-image: url(assets/batman-bg.png);
  background-repeat: no-repeat;
}

.story-card {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
}

#first-card {
  border-left: 7px solid black;
}

#second-card {
  border-left: 7px solid gray;
}

.gray-color {
  color: gray;
}

footer p {
  text-align: center;
}
